.git
.github
.dockerignore
.gitignore

.idea
.vscode

**/*.pyc
**/*.pyo
**/*.log
**/__pycache__
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.venv
venv

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode
.idea

postman.json